:root {
    /* --navy: #06304b; */
    /* --gold: #ffce3f;  */

    --g: #008C45;
    --w: #F4F5F0;
    --r: #CD212A;
}

.createPostCard {
    background-color: var(--w);
    border: 5px solid var(--r);
    padding: 2%;
    margin-top: 5%;
}

.createPostCard Button {
    background-color: var(--w);
    border: 1.5px solid var(--r);
    text-transform: inherit;
    float: right;
    color: var(--r);
}

.createPostCard Button:hover {
    background-color: var(--r);
    border: 1.5px solid var(--w);
    color: var(--w);
}

Form {
    color: var(--g);
}

Form Label {
    color: var(--g);
    font-size: medium;
    /* transform: translateY(50px); */
}
