:root {
    /* --navy: #06304b; */
    /* --gold: #ffce3f;  */

    --g: #008C45;
    --w: #F4F5F0;
    --r: #CD212A;
}

.userProfileArea {
    background-color: var(--r);
    border: 5px solid var(--w);
    padding: 2%;
    color: var(--w);
}

.userProfileName h4 {
    font-style: italic;
}

.userProfilePic img {
    width: 205px;
    height: 165px;
    border-radius: 50%;
    border: 5px solid var(--g);
    margin-bottom: 2%;
    transform: scale(1.1);
}

.userGalleryArea img {
    width: 155px;
    height: 115px;
    border: 2.5px solid var(--g);
    margin-bottom: 2%;
    transform: scale(1.1);
    display: flex;
    flex-direction: row;
}

.profileStats h6 {
    font-size: large;
}
