:root {
    /* --navy: #06304b; */
    /* --gold: #ffce3f;  */

    --g: #008C45;
    --w: #F4F5F0;
    --r: #CD212A;
}

.navBar {
    background-color: var(--w);
    position: relative;
    border-bottom: 5px solid var(--r);
}

.navBar a {
    color: var(--g);
    margin-right: 25px;
}

.navLogo {
    font-size: xx-large;
    position: absolute;
    left: 5%;
    font-family: 'Great Vibes', cursive;
}

.navList {
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: medium;
}

.navBtn {
    background-color: var(--r);
    border: 1.5px solid var(--w);
    text-transform: inherit;
    float: right;
    margin-top: 4%;
    color: var(--w);
}

.navBtn:hover {
    background-color: var(--w);
    border: 1.5px solid var(--r);
    color: var(--r);
}